.pagination {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    gap:10px;
    align-items: center;
    margin-top: 10px;
}
.pagination__container {
    display: flex;
    gap: 5px;
}
.pagination__prev,
.pagination__next,
.pagination__page {
    width: 35px;
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pagination__active {
    background-color: orange;
    color: white;
    border-radius: 5px;
    
}
